allow recovery debuggerd:dir { read write open create search };
allow recovery drmserver:dir { read write open create search };
allow recovery healthd:dir { read write open create search };
allow recovery init:dir { read write open create search };
allow recovery installd:dir { read write open create search };
allow recovery kernel:file { read write open create };
allow recovery keystore:dir { read write open create search };
allow recovery kickstart:dir { read write open create search };
allow recovery lmkd:dir { read write open create search };
allow recovery logd:dir { read write open create search };
allow recovery mediaserver:dir { read write open create search };
allow recovery netd:dir { read write open create search };
allow recovery netmgrd:dir { read write open create search };
allow recovery node:tcp_socket node_bind;
allow recovery port:tcp_socket name_bind;
allow recovery proc:file setattr;
allow recovery qmux:dir { read write open create search };
allow recovery rild:dir { read write open create search };
allow recovery rootfs:dir { write rmdir setattr remove_name create add_name };
allow recovery rootfs:file { write create setattr append };
allow recovery rootfs:lnk_file create;
allow recovery sdcardd:dir { read write open create search };
allow recovery self:capability { net_admin sys_chroot mknod net_raw };
allow recovery self:netlink_kobject_uevent_socket { read write create bind setopt };
allow recovery self:tcp_socket { bind create setopt };
allow recovery self:udp_socket { create ioctl };
allow recovery servicemanager:dir { read write open create search };
allow recovery shell:dir { read write open create search };
allow recovery su:dir { read write open create search };
allow recovery surfaceflinger:dir { read write open create search };
allow recovery sysfs_devices_system_cpu:file write;
allow recovery ta_qmi_client:dir { read write open create search };
allow recovery tad_static:dir { read write open create search };
allow recovery thermald:dir { read write open create search };
allow recovery tmpfs:blk_file { create setattr };
allow recovery tmpfs:chr_file { execute setattr read create getattr write ioctl unlink open };
allow recovery tmpfs:dir mounton;
allow recovery tmpfs:lnk_file create;
allow recovery tmpfs:sock_file { write create setattr };
allow recovery ueventd:dir { read write open create search };
allow recovery vold:dir { read write open create search };
allow recovery zygote:dir { read write open create search };
allow recovery devpts:chr_file { read write create write ioctl open getattr };
allow recovery init:file { read write open create };
allow recovery kernel:system syslog_read;
allow recovery self:tcp_socket listen;
allow recovery debuggerd:file { read write open create };
allow recovery drmserver:file { read write open create };
allow recovery healthd:file { read write open create };
allow recovery init:file { read write open create };
allow recovery installd:file { read write open create };
allow recovery keystore:file { read write open create };
allow recovery kickstart:file { read write open create };
allow recovery lmkd:file { read write open create };
allow recovery logd:file { read write open create };
allow recovery mediaserver:file { read write open create };
allow recovery netd:file { read write open create };
allow recovery netmgrd:file { read write open create };
allow recovery qmux:file { read write open create };
allow recovery rild:file { read write open create };
allow recovery sdcardd:file { read write open create };
allow recovery servicemanager:file { read write open create };
allow recovery shell:file { read write open create };
allow recovery su:file { read write open create };
allow recovery surfaceflinger:file { read write open create };
allow recovery ta_qmi_client:file { read write open create };
allow recovery tad_static:file { read write open create };
allow recovery thermald:file { read write open create };
allow recovery ueventd:file { read write open create };
allow recovery vold:file { read write open create };
allow recovery zygote:file { read write open create };