# Yuga related scripts and daemons
type yuga_service, domain;
type yuga_service_exec, exec_type, file_type;

# Started by init
init_daemon_domain(yuga_service)

# allow to start qcfqd (from yuga reconf)
allow yuga_service ctl_qcfqd:property_service set;

# allow to configure properties (start and stop exec -> yuga reconf)
allow yuga_service property_socket:sock_file write;
allow yuga_service init:unix_stream_socket { connectto read write setopt };

# allow to spawn new shells (security ahoi!)
allow yuga_service shell_exec:file rx_file_perms;
allow yuga_service shell_exec:file { entrypoint };
allow yuga_service system_file:file { execute_no_trans };

# we are root - really root: check posix permissions if selinux fails
allow yuga_service self:capability { dac_override dac_read_search };

# allow reading and writing to /data/.pabx
allow yuga_service pabx_config:dir r_dir_perms;
allow yuga_service pabx_config:file r_file_perms;

# allow writing to /dev
allow yuga_service device:dir rw_dir_perms;
allow yuga_service device:file create_file_perms;

# allow us to write to sysfs nodes
allow yuga_service sysfs_devices_system_cpu:file rw_file_perms;
allow yuga_service sysfs:file rw_file_perms;
